@media screen and (max-width: 1023px) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 7.5px;
  }
  header .score .number {
    line-height: 0.9em;
  }
  header .score .number::before {
    line-height: 2.5em;
  }
}

@media screen and (max-width: 413px) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (max-width: 374px) {
  html {
    font-size: 5.5px;
  }
}

@media screen and (max-width: 917px) {
  #container {
    max-height: 90vh;
  }
  header {
    width: 50rem;
    margin-bottom: 0.5rem;
  }
  footer {
    margin-top: 1rem;
  }
}

@media screen and (min-height: 812px) {
  #container {
    height: 80vh;
  }
}
